{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fayzullayev Blog Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="site-header">
    <div class="site-header__inner">
        <a href="/" class="brand">
            Fayzullayev Blog Site
        </a>

        <nav class="nav">

            <!-- HOME -->
            <a href="/"
               class="nav__link {% if request.path == '/' %}nav__link--button{% endif %}">
                Home
            </a>

            <!-- WRITE -->
            <a href="{% url 'post_create' %}"
               class="nav__link {% if request.path == '/create/' %}nav__link--button{% endif %}">
                Write
            </a>

        </nav>
    </div>
</header>

<main class="page">
    <div class="page__inner">
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="site-footer">
    <div class="site-footer__inner">
        <span>© {% now "Y" %} Fayzullayev Blog Site</span>
    </div>
</footer>

</body>
</html>