{% extends 'main/base.html' %}

{% block content %}

<div class="hero">
    <h1>
        Building elegant solutions with Python & Django
    </h1>

    <p>
        Full Stack Developer | Python Enthusiast | Problem Solver
    </p>

    <p>
        I'm a backend developer passionate about creating scalable web applications.
    </p>

    <div class="buttons">
        <button class="btn btn-primary">Read my blog</button>
        <button class="btn btn-secondary">Get in touch</button>
    </div>
</div>

{% endblock %}